{
    "presets": [
      [
        "env",
        {
          "modules": false,
          "minify": true
        }
      ]
    ],
    "plugins": [
      "external-helpers",
      "transform-object-rest-spread"
    ]
  }